<style>
      #aa{
        color:grey;
        float:right;
        padding-right:20px;
    }
    #sp2{
        padding-right:40px;
    }
    #sp4{

        padding-left:40px;
    }
    #a{
        color:grey;
    }

     .container{
         clear: left;

        padding-left:10px;
        padding-top:10px;
        padding-bottom:10px;
    }
    #sp1{
        padding-right:50px;
        padding-left:20px;
    }

     .foot{
         clear:left;
        margin-top: 5%;
        width:100%;
        font-weight:500;


    }

</style>


<footer class="foot">
    <div class="container">
        <span id="sp1"><a style=text-decoration:none href="/tnc" id="a">Terms & Conditions</a></span>
            <span id="sp2"><a style=text-decoration:none href="/abtus" id="a">About Us</a></span>
                <span><a style=text-decoration:none href="/contact" id="a">Contact Us</a></span>
                    <span id="sp4"><a style=text-decoration:none href="/copyright" id="aa">
© Copyright 2004 – 2017 – SplitBill . All Rights Reserved. Co. Reg. No.: 193648032W</a></span>

    </div>
</footer>
