
<style>

    #headerLogo {
        width:10%;
    }

    .navbarHead {
        display: inline-block;
        vertical-align: bottom;
    }

    .functionAlign {
        vertical-align: bottom;
    }

    #logoutBtn {
        width: 10%;
        height: 10%;
    }

    #mailcount {
        font-size: 200%;
        color:red;
    }

    #logoIMG {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    #navbar {
        margin-bottom: 5%;

    }
</style>


<div id="navbar">
    <div class="navbarHead" id="headerLogo">
        <a href="http://127.0.0.1:5000/tristan"><img src="static/images/logo.png" width="80%" height="80%" id="logoIMG"></a>
    </div>

    <div class="navbarHead" id="headerfunct">
            <a id ='mailcount' class="functionAlign" href="http://127.0.0.1:5000/shaun5">1</a><img src="static/images/mail.jpg" id="navbarIcon" height="10%" width="10%" class="functionAlign">
            <a href="#" class="btn btn-info" role="button" id="logoutBtn">Logout</a>
    </div>
</div>

